cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
google-auth==1.26.1
graphviz==0.8.4
idna==2.10
mxnet-cu100mkl==1.5.1.post0
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1612952999509/work
pyasn1==0.4.8
pyasn1-modules==0.2.8
requests==2.25.1
rsa==4.7
six==1.15.0
urllib3==1.26.3
